canvas{
    border: 5px solid #000;
    display: block;
    margin: 0 auto;
}

/* body {
    background-image: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
} */

body::after {
    content: "";
    background: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-family: 'Genos', sans-serif;
    font-size: large;
    color: rgb(166, 255, 0);
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}